html {
    width: 100%;
    background-color: #000;
   background-image: url("https://github.com/j-kimbrough/Lava-Java/blob/main/Images/nafinia-putra-Kwdp-0pok-I-unsplash.jpg");
}
   


body {
    width: 80%;
    background-color: white;
    height: 500px;
    margin: 0 auto;
}

header {
  padding: 60px;
  text-align: center;
  background: #F4A988;
  color: white;
  font-size: 20px;
   
}

header h1 {
    width: 150px;
    margin: 0 auto;
    padding-top: 25px;
}

h2 {
    padding-left: .5em;
}

p {
    padding-left: .75em;
    padding-right: .75em;
}
