
   
html {
    width: 100%;
    background-color: #000;
    background-image: url("../images/forest.webp");
}

body {
    width: 80%;
    background-color: #fff;
    height: 500px;
    margin: 0 auto;
}

header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

header h1 {
    width: 150px;
    margin: 0 auto;
    padding-top: 25px;
}

h2 {
    padding-left: .5em;
}

p {
    padding-left: .75em;
    padding-right: .75em;
}
